* {
  box-sizing: border-box;
}

.cont {
  position: relative;
  display: inline-block;
}

.bar {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px;
}

#player_helth {
  background-color: yellow;
  height: 30px;
  width: 100%;
}
#timer {
  background-color: blue;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

#enemy_helth {
  background-color: yellow;
  height: 30px;
  width: 100%;
}
